@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('@fortawesome/fontawesome-free/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-bg-color: #10121a;
  --controls-bg-color: #222533;
  --input-bg-color: #2a2c3a;
  --input-border-color: #2a2c3a;
  --input-text-color: #ffffff;
  --button-primary-bg-color: #3b3e52;
  --button-primary-hover-bg-color: #4c4f69;
  --thumbnail-bg-color: #1a1e2a;
  --thumbnail-grid-color: rgba(255, 255, 255, 0.05);
  --thumbnail-main-text-color: #ffffff;
  --thumbnail-secondary-text-color: #a9b1d6;
}

